@font-face {
  font-family: dottedfont;
  src: url("../src/font/Unibody.ttf");
}
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
body {
  font-family: "DotGothic16", sans-serif;
} */

body {
  /* font-family: "dottedfont", sans-serif; */
}
