@font-face {
  font-family: dottedfont;
  src: url("src/assets/fonts/Unibody.ttf");
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
body {
  font-family: "DotGothic16", sans-serif;
} */

body {
  /* font-family: "dottedfont", sans-serif; */
  font-family: "Poppins", sans-serif;
}
